body {
  margin: 0;
  font-family: Arial;
  background: #0f0f0f;
  color: white;
}

header {
  background: #111;
  padding: 15px;
  text-align: center;
  color: #ff2d55;
  font-weight: bold;
}

.container {
  padding: 20px;
}

.card {
  background: #1a1a1a;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #222;
}

.card a {
  color: white;
  text-decoration: none;
}

.card a:hover {
  color: #ff2d55;
}
